name: DevOps Manual Approval Pipeline for Exchange API RAMLs

on:
  workflow_dispatch:

jobs:
  notify-for-approval:
    name: Send Approval Email
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Send email requesting approval
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp-relay.brevo.com
          server_port: 587
          username: "9d698c001@smtp-brevo.com"
          password: "xsmtpsib-01f61cdc117f64a6e11b022ca560695c678ed7079e29b1da707d9ce5cdc729fd-nlAr0MDqVg3xlZ1X"
          subject: "Manual approval required for deployment"
          to: "rk173346@gmail.com"
          from: "rajat.guptadhn@gmail.com"
          body: "An Exchange API RAML has been checked in to the repository and requires validation from your end and final approval to proceed to actual BG publication. Please review and approve it."

  wait-for-approval:
    name: Pending for Manual Approval
    runs-on: ubuntu-latest
    needs: notify-for-approval

    # This environment must be configured in the repo settings with required reviewers.
    environment: 
      name: development
      url: https://example.com

    steps:
      - name: Continue after approval
        run: echo "Approval received. Continuing workflow..."
