name: DevOps Manual Approval Pipeline for Exchange API RAML

on:
  push:
    branches: [ "main" ]

jobs:
  notify-for-approval:
    name: Send Approval Email
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Send email requesting approval
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp-relay.brevo.com
          server_port: 587
          username: "9d698c001@smtp-brevo.com"
          password: "bskrXgIuw08Ljh9"
          subject: "Manual approval required for deployment"
          to: "rk173346@gmail.com"
          from: "9d698c001@smtp-brevo.com"
          body: "An Exchange API RAML has been checked in to the repository and requires validation from your end and final approval to proceed to actual BG publication. Please review and approve it."

  wait-for-approval:
    name: Pending for Manual Approval
    runs-on: ubuntu-latest
    needs: notify-for-approval

    steps:
      - name: Continue after approval
        run: echo "Approval received. Continuing workflow..."
  
  publish-to-exchange:
    name: Publish asset to Exchange
    runs-on: ubuntu-latest
    needs: notify-for-approval
    steps:
      - name: Call external REST API with Access token
        run: |
          curl -v \
            -H 'Authorization: bearer 7e5986dc-769d-4c70-a9c3-2ec096ef622b' \
            -H 'x-sync-publication: true' \
            -F 'name=product-information-api' \
            -F 'description=This is a Product Information API Spec' \
            -F 'keywords=product-api, raml' \
            -F 'properties.mainFile=product-information-api.raml' \
            -F 'properties.apiVersion=v1' \
            -F 'files.raml=@product-information-api.raml' \
            https://anypoint.mulesoft.com/exchange/api/v2/organizations/8a188a0e-4d0a-4dad-bad7-b4636f37f57b/assets/8a188a0e-4d0a-4dad-bad7-b4636f37f57b/product-information-api/1.0.0

    # This environment must be configured in the repo settings with required reviewers.
    environment: 
      name: development
      url: https://test-example.com
